header{
    font-family: sans-serif;
    font-size: 36px;
}

.navbar-brand {
    font-size: 36px;
}

#carouselExampleIndicators{
    width: 30%;
    height: 40%;
    margin: auto;
}

body{
    background-image: url(https://img.onl/hzWmT);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
