#title {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
}

#home, #menu, #activity {
    font-size: 20px;
}

#home:hover, #menu:hover, #activity:hover {
    text-decoration: underline;
    color: grey;
}

.nav-link:hover {
    text-decoration: underline;
    color: grey;
}

#carouselExampleIndicators{
    width: 30%;
    height: 40%;
    margin: auto;
}

body{
    background-image: url(https://img.onl/hzWmT);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
