header{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 36px;
}

.nav-link {
    font-size: 20px;
    margin-right: 5px;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: grey;
}

body{
    background-image: url(https://img.onl/xg69dI);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box > h5 {
    width: 500px;
    height: 100px; 
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    text-shadow: 2px 1px 2px grey;
}

.box h6 {
    width: 800px;
    height: 150px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 250px;
    padding-bottom: 50px;
    font-style: italic;
    line-height: 1.5;
}


.box {
    margin-top: 40px;
    display: flex;
}