#title {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 36px;
}

.nav-link {
    font-size: 20px;
    margin-right: 5px;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: grey;
}

body{
    background-image: url(https://img.onl/xg69dI);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box > h5 {
    width: 250px;
    height: 100px; 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 25px;
    padding-left: 50px;
    text-shadow: 2px 1px 2px grey;
}

.box h6 {
    width: 700px;
    height: 100px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-right: 250px;
    padding-bottom: 50px;
    font-style: italic;
    line-height: 2;
}


.box {
    margin-top: 40px;
    display: flex;
}

@media screen and (max-width : 768px){
    .intro, .box {
        display: flex;
    }

    .box > h5 {
        width: 50%;
        height: auto; 
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 1px 2px grey;
    }
    
    .box h6 {
        width: 50%;
        height: auto;
        font-size: 16px;
        font-style: italic;
    }

}