#title {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-right: 10px;
}

#home, #menu, #activity {
    font-size: 20px;
}

#home:hover, #menu:hover, #activity:hover {
    text-decoration: underline;
    color: grey;
}

body{
    background-image: url(https://img.onl/pS84tk);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.food-type {
    font-size: 42px;
    color: rgb(191, 144, 26);
    margin-top: 30px;
    margin-bottom: 10px; 
    font-weight: bold;
    text-align: center;
    
}

.flex1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.flex2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.food-picture {
    max-height: 300px;
    border: 3px groove #79caa6;
    border-radius: 20px;
}

.space {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}

.space {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: 5px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
}

#serving-collocation {
    font-weight: bold;
}

.serving-option:not(#serving-collocation) {
    font-style: italic;
}

#birth {
    color: rgb(175, 32, 41);
}

@media screen and (max-width : 768px){
    .flex1 {
        display: block;
        margin: 0;
        overflow: hidden;
    }

    .flex1 li {
        display: inline-block;
        margin: 0 70px;
    }

    .food-picture {
        display: block;
        margin: auto;
        max-height: 160px;
        border: 2px groove #79caa6;
        border-radius: 15px;
    }

    .flex2 {
        display: block;
        margin: 0;
        overflow: hidden;
    }

    .flex2 li {
        display: inline-block;
        margin: 0 70px;
    }

    .serving-option {
        text-align: center;
    }

    .food-type {
        font-size: 20px;
    }

    .space {
        font-size: 12px;
    }

    h3, option {
        font-size: 12px !important;
    }

}

@media screen and (max-width : 1100px){
    .flex1 {
        display: block;
        margin: 0;
        overflow: hidden;
    }

    .flex1 li {
        display: inline-block;
        margin: 0 80px;
    }

    .food-picture {
        display: block;
        margin: auto;
        max-height: 200px;
        border: 2px groove #79caa6;
        border-radius: 15px;
    }

    .flex2 {
        display: block;
        margin: 0;
        overflow: hidden;
    }

    .flex2 li {
        display: inline-block;
        margin: 0 80px;
    }

    .serving-option {
        text-align: center;
    }

    .food-type {
        font-size: 24px;
    }

    .space {
        font-size: 16px;
    }

    h3, p{
        font-size: 16px !important;
    }
}